$color-background-0: #d3d3d2;
$color-background-1: #bbaea3;
$color-background-2: #adadac;
$color-background-3: #8c8b8a;
$color-background-4: #6b6a68;

$color-secondary-1-0: #d3d3d2;
$color-secondary-1-1: #bbb7a3;
$color-secondary-1-2: #adadac;
$color-secondary-1-3: #8c8b8a;
$color-secondary-1-4: #6b6b68;

$color-secondary-2-0: #919191;
$color-secondary-2-1: #757281;
$color-secondary-2-2: #777777;
$color-secondary-2-3: #5f5f60;
$color-secondary-2-4: #48484a;

$color-complement-0: #808080;
$color-complement-1: #637072;
$color-complement-2: #69696a;
$color-complement-3: #545555;
$color-complement-4: #3f4141;

$black: #000;
$white: #fff;
