.mainDiv {
  display: flex;
  width: 100vw;
  max-width: 1200px;
  justify-content: space-between;
  height: 100vh;
  max-height: 750px;
  margin: 50px 0px 10px 0px;
  gap: 5px;
  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
    max-height: 1200px;
    max-width: 370px;
  }
}
